.aspect-ratio-16-9 {
    aspect-ratio: 16 / 9;
    /* height: auto !important; */
}

.glance-lib {
    width: 100%;
}

iframe.glance-lib-liod {
    width: 100%;
    border: 0;
}

div.logo > img {
    height: 100%;
    background-image: url("/assets/logo/logo_color.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

html[data-scheme="dark"] div.logo > img {
    background-image: url("/assets/logo/logo_white.svg");
}

html[data-scheme="light"] div.logo > img {
    background-image: url("/assets/logo/logo_black.svg");
}

div.glance-lib-usermenu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

div.glance-lib-usermenu a {
    display: inline-block;
    padding: calc(var(--widget-content-vertical-padding) / 2) calc(var(--widget-content-horizontal-padding) / 2);
    background-color: var(--color-widget-background);
    color: var(--color-text-base);
    text-decoration: none;
    border: 1px solid var(--color-widget-content-border);
    border-radius: var(--border-radius);
    font-weight: 600;
    font-size: var(--font-size-h3);
}

div.glance-lib-usermenu a:hover {
    color: var(--color-text-highlight);
    border-color: var(--color-text-subdue);
}